<div>
  <EuiFlexGroup class="header" @justifyContent="spaceAround">
    <EuiFlexItem @grow={{false}}>
      <div>
        <EuiTitle @size="l">
          {{#if @gameOver}}
            <h1>{{@winnerMessage}}</h1>
          {{/if}}
          {{#unless @gameOver}}
            {{#unless @symbolTurn}}
              <h1>Waiting for another player to join</h1>
            {{/unless}}
            {{#if @symbolTurn}}
              <h1>Player "{{@symbolTurn}}" Your Turn</h1>
            {{/if}}
          {{/unless}}
        </EuiTitle>
      </div>
      <EuiHorizontalRule />
    </EuiFlexItem>
  </EuiFlexGroup>

  <div class="board">
    {{#each this.gameBoard as |row x|}}
      {{#each row as |value y|}}
        <button
          class="symbol"
          {{on "click" (fn this.onClick x y @symbolTurn)}}
          type="button"
        >
          {{value}}
        </button>
      {{/each}}
    {{/each}}
  </div>

  {{#if @gameOver}}
    <EuiModal @onClose={{this.newGame}}>
      <EuiModalHeader>
        <EuiTitle @size="m">
          {{@winnerMessage}}
        </EuiTitle>
      </EuiModalHeader>
      {{! <EuiModalBody>
      <EuiText>
        <p>
          Play Again
        </p>
      </EuiText>
    </EuiModalBody> }}
      <EuiModalFooter>
        <EuiLink {{on "click" this.newGame}} @color="primary" @fill={{true}}>
          Play Again
        </EuiLink>
      </EuiModalFooter>
    </EuiModal>
  {{/if}}

</div>
