.page-content {
  display: flex;
}

.play-link {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.play-prompt {
  padding: 10rem;
}

.board {
  background-color: #024c42;
  border-radius: 10px;
  border: 1rem solid #1e776d;
  color: #fefefe;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  height: 50rem;
  margin: 0 auto;
  width: 50rem;
}

.symbol {
  align-items: center;
  border: 1px solid #d8d8d8;
  display: flex;
  font-family: Helvetica;
  font-size: 8rem;
  font-weight: bold;
  justify-content: center;
}

.header {
  margin: 1rem;
}
