{{page-title "Let's Play"}}
<GameBoard
  @board={{@model.gameBoard}}
  @symbolTurn={{@model.symbolTurn}}
  @gameOver={{@model.gameOver}}
  @winnerMessage={{@model.winnerMessage}}
  @markAction={{this.mark}}
/>
{{outlet}}
